﻿@{

    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TUMISMITOPE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    @*<script src="js/libs/webfontloader.min.js"></script>*@

    <script>
        WebFont.load({
            google: {
                families: ['Roboto:300,400,500,700:latin']
            }
        });
    </script>





    <!-- SOURCES2-->
    @*<link type="text/css" href="~/SourcesTUMI/Sources2/Bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
        <link type="text/css" href="~/SourcesTUMI/Sources2/Bootstrap/dist/css/bootstrap-reboot.css" rel="stylesheet" />*@
    <link type="text/css" href="~/SourcesTUMI/Sources2/Bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <link type="text/css" href="~/SourcesTUMI/Sources2/css/M_LoginMain.css" rel="stylesheet" />
    
    <link type="text/css" href="~/SourcesTUMI/Sources2/css/fonts.min.css" rel="stylesheet" />

    <!--SOURCE 1-->

    <link href="~/SourcesTUMI/css/animate.css" rel="stylesheet" />
    <link href="~/SourcesTUMI/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/SourcesTUMI/css/line-awesome.css" rel="stylesheet" />
    <link href="~/SourcesTUMI/css/line-awesome-font-awesome.min.css" rel="stylesheet" />
    <link href="~/SourcesTUMI/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/SourcesTUMI/lib/slick/slick.css" rel="stylesheet" />
    <link href="~/SourcesTUMI/lib/slick/slick-theme.css" rel="stylesheet" />
    <link href="~/SourcesTUMI/css/style.css" rel="stylesheet" />
    <link href="~/SourcesTUMI/css/responsive.css" rel="stylesheet" />
  
</head>

<!-- Preloader -->


<div id="hellopreloader">
    <div class="preloader">
        <svg width="45" height="45" stroke="#fff">
            <g fill="none" fill-rule="evenodd" stroke-width="2" transform="translate(1 1)">
                <circle cx="22" cy="22" r="6" stroke="none">
                    <animate attributeName="r" begin="1.5s" calcMode="linear" dur="3s" repeatCount="indefinite" values="6;22" />
                    <animate attributeName="stroke-opacity" begin="1.5s" calcMode="linear" dur="3s" repeatCount="indefinite" values="1;0" />
                    <animate attributeName="stroke-width" begin="1.5s" calcMode="linear" dur="3s" repeatCount="indefinite" values="2;0" />
                </circle>
                <circle cx="22" cy="22" r="6" stroke="none">
                    <animate attributeName="r" begin="3s" calcMode="linear" dur="3s" repeatCount="indefinite" values="6;22" />
                    <animate attributeName="stroke-opacity" begin="3s" calcMode="linear" dur="3s" repeatCount="indefinite" values="1;0" />
                    <animate attributeName="stroke-width" begin="3s" calcMode="linear" dur="3s" repeatCount="indefinite" values="2;0" />
                </circle>
                <circle cx="22" cy="22" r="8">
                    <animate attributeName="r" begin="0s" calcMode="linear" dur="1.5s" repeatCount="indefinite" values="6;1;2;3;4;5;6" />
                </circle>
            </g>
        </svg>

        <div class="text">Loading ...</div>
    </div>
</div>
<!-- ... end Preloader -->


<body class="sign-in">
    <div class="content-bg-wrap"></div>

    <div class="wrapper" style="background-image: url(https://ak.picdn.net/shutterstock/videos/11669687/thumb/1.jpg); background-position: 0 0; background-repeat: repeat; -webkit-animation: sidedownscroll 30s linear infinite; animation: sidedownscroll 140s linear infinite; background-size: auto;">


        <div class="sign-in-page">
            <div  class="signin-popup">
                <div id="signin-popLogin" class="signin-pop">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="cmp-info">
                                <div id="logoLogin" class="cm-logo" style="margin-bottom: 100px;">


                                    <img src="~/SourcesTUMI/images/TUMImage/LOGO_TUMI.png" width="300" style="max-height: 79px;" />
                                    <p>TUMIsmitoPE es una aplicacion web que te permitira compartir con los demas las problematicas que encuentres en tu ciudad.</p>
                                </div><!--cm-logo end-->


                                <img src="~/SourcesTUMI/images/TUMImage/MAIN_LOGO.png" width="425" height="188" />
                            </div><!--cmp-info end-->
                        </div>
                        <div class="col-lg-6">
                            <div class="login-sec">
                                <ul class="sign-control">
                                    <li id="signinTab" data-tab="tab-1" class="current"><a href="#" title="">Sign in</a></li>
                                    <li id="signupTab" data-tab="tab-2" class="" ><a href="#" title="">Sign up</a></li>
                                </ul>
                                <div class="sign_in_sec current" id="tab-1">

                                    <h3>Ingresar</h3>
                                    <form action="/Welcome/SingIn" method="post">
                                        <div class="row">
                                            <div class="col-lg-12 no-pdd">
                                                <div class="sn-field">
                                                    <input type="text" name="username" placeholder="Username">
                                                    <i class="la la-user"></i>
                                                </div><!--sn-field end-->
                                            </div>
                                            <div class="col-lg-12 no-pdd">
                                                <div class="sn-field">
                                                    <input type="password" name="password" placeholder="Password">
                                                    <i class="la la-lock"></i>
                                                </div>
                                            </div>
                                            @if (TempData != null)
                                            {
                                             <small id="tempFailMessage">@TempData["MensajeLogeo"]</small>
                                            }
                                            <div class="col-lg-12 no-pdd">
                                                <div class="checky-sec">
                                                    <div class="fgt-sec">
                                                        <input type="checkbox" name="cc" id="c1">
                                                        <label for="c1">
                                                            <span></span>
                                                        </label>
                                                        <small>Recordarme</small>
                                                    </div><!--fgt-sec end-->
                                                    <a href="#" title="">Olvide Mi Contraseña</a>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 no-pdd">
                                                <button id="btnIngresarLogin" type="submit" value="submit">Ingresar</button>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="login-resources">
                                        <h4 class="text-white">.</h4>
                                        <ul>
                                            <li><a title="" class=" bg-white text-white">::::::::::::::</a></li>
                                            <li><a title="" class=" bg-white text-white">::::::::::::::</a></li>
                                        </ul>
                                    </div><!--login-resources end-->

                                </div><!--sign_in_sec end-->
                                <div class="sign_in_sec" id="tab-2">

                                    <div class="dff-tab current" id="tab-3">
                                        <form>
                                            <div class="row">
                                                <div class="col-lg-12 no-pdd">
                                                    <div class="sn-field">
                                                        <input type="text" name="username" placeholder="Nombre de usuario">
                                                        <i class="la la-user"></i>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 no-pdd">
                                                    <div class="sn-field">
                                                        <input type="email" name="correo" placeholder="Correo">
                                                        <i class="la la-envelope"></i>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 no-pdd">
                                                    <div class="sn-field">
                                                        <input type="text" name="Nombres" placeholder="Nombres">
                                                        <i class="la la-circle"></i>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 no-pdd">
                                                    <div class="sn-field">
                                                        <input type="text" name="Apellidos" placeholder="Apellidos">
                                                        <i class="la la-circle"></i>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 no-pdd">
                                                    <div class="sn-field">
                                                        <select>

                                                            <option>Masculino</option>
                                                            <option>Femenino</option>
                                                        </select>
                                                        <i class="la la-venus-mars"></i>
                                                        <span><i class="fa fa-ellipsis-h "></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 no-pdd">

                                                    <div class="form-group date-time-picker label-floating">
                                                        <label class="control-label" style="top: 4px;left:42px">Your Birthday</label>
                                                        <input name="datetimepicker" value="10/24/1984" style="height: 50px;" />
                                                        <span class="input-group-addon disabled">

                                                            <i class="la la-birthday-cake" style="color: #b2b2b2;"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 no-pdd">
                                                    <div class="sn-field ">
                                                        <input type="password" name="Contraseña" placeholder="Contraseña">
                                                        <i class="la la-lock"></i>
                                                    </div>
                                                </div>

                                                <div class="col-lg-12 no-pdd">
                                                    <div class="checky-sec st2">
                                                        <div class="fgt-sec">
                                                            <input type="checkbox" name="cc" id="c2">
                                                            <label for="c2">
                                                                <span></span>
                                                            </label>
                                                            <small>Yes, I understand and agree to the workwise Terms & Conditions.</small>
                                                        </div><!--fgt-sec end-->
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 no-pdd">
                                                    <button type="submit" value="submit">Get Started</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div><!--dff-tab end-->
                                    @*<div class="dff-tab" id="tab-4">
                                            <form>
                                                <div class="row">
                                                    <div class="col-lg-12 no-pdd">
                                                        <div class="sn-field">
                                                            <input type="text" name="company-name" placeholder="Company Name">
                                                            <i class="la la-building"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 no-pdd">
                                                        <div class="sn-field">
                                                            <input type="text" name="country" placeholder="Country">
                                                            <i class="la la-globe"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 no-pdd">
                                                        <div class="sn-field">
                                                            <input type="password" name="password" placeholder="Password">
                                                            <i class="la la-lock"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 no-pdd">
                                                        <div class="sn-field">
                                                            <input type="password" name="repeat-password" placeholder="Repeat Password">
                                                            <i class="la la-lock"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 no-pdd">
                                                        <div class="checky-sec st2">
                                                            <div class="fgt-sec">
                                                                <input type="checkbox"  name="cc" id="c3"  >

                                                                <label for="c3">
                                                                    <span></span>
                                                                </label>
                                                                <small>Yes, I understand and agree to the workwise Terms & Conditions.</small>
                                                            </div>fgt-sec end
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12 no-pdd">
                                                        <button type="submit" value="submit">Get Started</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>*@<!--dff-tab end-->
                                </div>
                            </div><!--login-sec end-->
                        </div>
                    </div>
                </div><!--signin-pop end-->
            </div><!--signin-popup end-->
            <div class="footy-sec">
                <div class="container">
                    <ul>
                        <li><a href="#" class="font-weight-bold" title="">Help Center</a></li>
                        <li><a href="#" class="font-weight-bold" title="">Privacy Policy</a></li>
                        <li><a href="#" class="font-weight-bold" title="">Community Guidelines</a></li>
                        <li><a href="#" class="font-weight-bold" title="">Cookies Policy</a></li>
                        <li><a href="#" class="font-weight-bold" title="">Career</a></li>
                        <li><a href="#" class="font-weight-bold" title="">Forum</a></li>
                        <li><a href="#" class="font-weight-bold" title="">Language</a></li>
                        <li><a href="#" class="font-weight-bold" title="">Copyright Policy</a></li>
                    </ul>
                    <p class="font-weight-bold"><img  src="~/SourcesTUMI/images/copy-icon.png" />Copyright 2021</p>
                </div>
            </div><!--footy-sec end-->
        </div><!--sign-in-page end-->


    </div><!--theme-layout end-->
    <!-- JS Scripts SOURCE1 -->

    <script src="~/SourcesTUMI/js/jquery.min.js"></script>
    <script src="~/SourcesTUMI/js/popper.js"></script>
    <script src="~/SourcesTUMI/js/bootstrap.min.js"></script>
    <script src="~/SourcesTUMI/lib/slick/slick.min.js"></script>
    <script src="~/SourcesTUMI/js/script.js"></script>

    <!--SOURCE2-->

    <script src="~/SourcesTUMI/Sources2/js/jQuery/jquery-3.4.1.js"></script>

    @*<script src="js/libs/jquery.appear.js"></script>*@
    <script src="~/SourcesTUMI/Sources2/js/libs/jquery.mousewheel.js"></script>
    <script src="~/SourcesTUMI/Sources2/js/libs/perfect-scrollbar.js"></script>
    <script src="~/SourcesTUMI/Sources2/js/libs/jquery.matchHeight.js"></script>
    <script src="~/SourcesTUMI/Sources2/js/libs/svgxuse.js"></script>
    <script src="~/SourcesTUMI/Sources2/js/libs/imagesloaded.pkgd.js"></script>
    <script src="~/SourcesTUMI/Sources2/js/libs/Headroom.js"></script>
    <script src="~/SourcesTUMI/Sources2/js/libs/velocity.js"></script>
    <script src="~/SourcesTUMI/Sources2/js/libs/ScrollMagic.js"></script>
    <script src="~/SourcesTUMI/Sources2/js/libs/jquery.waypoints.js"></script>
    <script src="~/SourcesTUMI/Sources2/js/libs/jquery.countTo.js"></script>
    <script src="~/SourcesTUMI/Sources2/js/libs/popper.min.js"></script>
    <script src="~/SourcesTUMI/Sources2/js/libs/material.min.js"></script>
    <script src="~/SourcesTUMI/Sources2/js/libs/bootstrap-select.js"></script>
    <script src="~/SourcesTUMI/Sources2/js/libs/smooth-scroll.js"></script>
    <script src="~/SourcesTUMI/Sources2/js/libs/selectize.js"></script>
    <script src="~/SourcesTUMI/Sources2/js/libs/swiper.jquery.js"></script>
    <script src="~/SourcesTUMI/Sources2/js/libs/moment.js"></script>
    <script src="~/SourcesTUMI/Sources2/js/libs/daterangepicker.js"></script>
    <script src="~/SourcesTUMI/Sources2/js/libs/fullcalendar.js"></script>
    <script src="~/SourcesTUMI/Sources2/js/libs/isotope.pkgd.js"></script>
    <script src="~/SourcesTUMI/Sources2/js/libs/ajax-pagination.js"></script>
    <script src="~/SourcesTUMI/Sources2/js/libs/Chart.js"></script>
    <script src="~/SourcesTUMI/Sources2/js/libs/chartjs-plugin-deferred.js"></script>
    <script src="~/SourcesTUMI/Sources2/js/libs/circle-progress.js"></script>
    <script src="~/SourcesTUMI/Sources2/js/libs/loader.js"></script>
    <script src="~/SourcesTUMI/Sources2/js/libs/run-chart.js"></script>
    <script src="~/SourcesTUMI/Sources2/js/libs/jquery.magnific-popup.js"></script>
    <script src="~/SourcesTUMI/Sources2/js/libs/jquery.gifplayer.js"></script>
    <script src="~/SourcesTUMI/Sources2/js/libs/mediaelement-and-player.js"></script>
    <script src="~/SourcesTUMI/Sources2/js/libs/mediaelement-playlist-plugin.min.js"></script>
    <script src="~/SourcesTUMI/Sources2/js/libs/ion.rangeSlider.js"></script>


    <script src="~/SourcesTUMI/Sources2/js/main.js"></script>
    <script src="~/SourcesTUMI/Sources2/js/libs-init/libs-init.js"></script>

    <script src="~/SourcesTUMI/Sources2/fonts/fontawesome-all.js"></script>
    <script src="~/SourcesTUMI/Sources2/Bootstrap/dist/js/bootstrap.bundle.js"></script>




</body>
</html>