﻿@{
    Layout = null;

    int dias = 0;
    int horas = 0;
    int minutos = 0;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TUMIsmitoPE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">









    <!--Source 1-->

    <link type="text/css" href="~/SourcesTUMI/css/animate.css" rel="stylesheet" />
    <link type="text/css" href="~/SourcesTUMI/css/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="~/SourcesTUMI/css/line-awesome.css" rel="stylesheet" />
    <link type="text/css" href="~/SourcesTUMI/css/line-awesome-font-awesome.min.css" rel="stylesheet" />
    <link type="text/css" href="~/SourcesTUMI/css/font-awesome.min.css" rel="stylesheet" />
    <link type="text/css" href="~/SourcesTUMI/css/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link type="text/css" href="~/SourcesTUMI/lib/slick/slick.css" rel="stylesheet" />
    <link type="text/css" href="~/SourcesTUMI/lib/slick/slick-theme.css" rel="stylesheet" />
    <link type="text/css" href="~/SourcesTUMI/css/style.css" rel="stylesheet" />
    <link type="text/css" href="~/SourcesTUMI/css/responsive.css" rel="stylesheet" />

    <!--Source 2 -->
    <!-- Bootstrap CSS -->
    @*<link rel="stylesheet" type="text/css" href="~/SourcesTUMI/Sources2/Bootstrap/dist/css/bootstrap-reboot.css">*@

    @*<link rel="stylesheet" type="text/css" href="~/SourcesTUMI/Sources2/Bootstrap/dist/css/bootstrap-grid.css">*@



    @*<link rel="stylesheet" type="text/css" href="~/SourcesTUMI/Sources2/css/fonts.min.css">*@
    <link rel="stylesheet" type="text/css" href="~/SourcesTUMI/Sources2/css/main.css">

    <!--SUBIR IMAGENES-->


    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link href="~/SourcesTUMI/css/M_SubirImagenes.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>


<body>


    <div class="wrapper">



        <header>
            <div id="containerIndex" class="container">
                <div class="header-data">
                    <div class="logo" style="width:320px">

                        <a href="/Home/Index" title=""><img id="imgIndexHead" height="40" width="180" src="~/SourcesTUMI/images/TUMImage/LOGO.png" alt=""></a>
                    </div><!--logo end-->
                    @*<div class="search-bar">
                            <form>
                                <input type="text" name="search" placeholder="Search...">
                                <button type="submit"><i class="la la-search"></i></button>
                            </form>
                        </div>*@<!--search-bar end-->
                    <nav>
                        <ul>
                            <li>
                                <a href="/Home/Index" title="">

                                    <span><img src="~/SourcesTUMI/images/icon1.png" alt=""></span>
                                    Home
                                </a>
                            </li>
                            @*<li>
                                    <a href="companies.html" title="">

                                        <span><img src="~/SourcesTUMI/images/icon2.png" alt=""></span>
                                        Companies
                                    </a>
                                    <ul>
                                        <li><a href="companies.html" title="">Companies</a></li>
                                        <li><a href="company-profile.html" title="">Company Profile</a></li>
                                    </ul>
                                </li>*@
                            <li>
                                <a href="projects.html" title="">

                                    <span><img src="~/SourcesTUMI/images/icon3.png" alt=""></span>
                                    Logros
                                </a>
                            </li>
                            <li>
                                <a href="profiles.html" title="">

                                    <span><img src="~/SourcesTUMI/images/icon5.png" alt=""></span>
                                    Staff
                                </a>
                                <ul>
                                    <li><a href="user-profile.html" title="">Ver staff</a></li>
                                    <li><a href="my-profile-feed.html" title="">Unirme al staff</a></li>
                                </ul>
                            </li>
                            @*<li>
                                    <a href="jobs.html" title="">

                                        <span><img src="~/SourcesTUMI/images/icon5.png" alt=""></span>
                                        Jobs
                                    </a>
                                </li>*@
                            <!--<li>
                            <a href="#" title="" class="not-box-open">
                                <span><img src="~/SourcesTUMI/images/icon6.png" alt=""></span>
                                Messages
                            </a>
                            <div class="notification-box msg">
                                <div class="nt-title">
                                    <h4>Setting</h4>
                                    <a href="#" title="">Clear all</a>
                                </div>
                                <div class="nott-list">
                                    <div class="notfication-details">
                                        <div class="noty-user-img">
                                            <img src="images/resources/ny-img1.png" alt="">
                                        </div>
                                        <div class="notification-info">
                                            <h3><a href="messages.html" title="">Jassica William</a> </h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</p>
                                            <span>2 min ago</span>
                                        </div>-->
                            <!--notification-info -->
                            <!--</div>
                            <div class="notfication-details">
                                <div class="noty-user-img">
                                    <img src="images/resources/ny-img2.png" alt="">
                                </div>
                                <div class="notification-info">
                                    <h3><a href="messages.html" title="">Jassica William</a></h3>
                                    <p>Lorem ipsum dolor sit amet.</p>
                                    <span>2 min ago</span>
                                </div>-->
                            <!--notification-info -->
                            <!--</div>
                            <div class="notfication-details">
                                <div class="noty-user-img">
                                    <img src="images/resources/ny-img3.png" alt="">
                                </div>
                                <div class="notification-info">
                                    <h3><a href="messages.html" title="">Jassica William</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut labore et dolore magna aliqua.</p>
                                    <span>2 min ago</span>
                                </div>-->
                            <!--notification-info -->
                            <!--</div>
                                <div class="view-all-nots">
                                    <a href="messages.html" title="">View All Messsages</a>
                                </div>
                            </div>-->
                            <!--nott-list end-->
                            <!--</div>--><!--notification-box end-->
                            <!--</li>-->
                            <li>
                                <a href="#" title="" class="not-box-open">
                                    <span><img src="~/SourcesTUMI/images/icon7.png" alt=""></span>
                                    Notificacion
                                </a>
                                <div class="notification-box">
                                    <div class="nt-title">
                                        @*<h4>Setting</h4>*@
                                        <a href="#" title="">Limpiar todo</a>
                                    </div>
                                    <div class="nott-list">
                                        <div class="notfication-details">
                                            <div class="noty-user-img">
                                                @*<img src="images/resources/ny-img1.png" alt="">*@
                                            </div>
                                            <div class="notification-info">
                                                <h3><a href="#" title="">Juan</a> Comento tu publicacion</h3>
                                                <span style="position: relative;">2 min </span>
                                            </div><!--notification-info -->
                                        </div>
                                        <div class="notfication-details">
                                            <div class="noty-user-img">
                                                @*<img src="images/resources/ny-img2.png" alt="">*@
                                            </div>
                                            <div class="notification-info">
                                                <h3><a href="#" title="">Juan</a>Comento tu publicacion</h3>
                                                <span style="position: relative;">2 min </span>
                                            </div><!--notification-info -->
                                        </div>
                                        <div class="notfication-details">
                                            <div class="noty-user-img">
                                                @*<img src="images/resources/ny-img3.png" alt="">*@
                                            </div>
                                            <div class="notification-info">
                                                <h3><a href="#" title="">Juan</a>Comento tu publicacion</h3>
                                                <span style="position: relative;">2 min </span>
                                            </div><!--notification-info -->
                                        </div>
                                        <div class="notfication-details">
                                            <div class="noty-user-img">
                                                @*<img src="images/resources/ny-img2.png" alt="">*@
                                            </div>
                                            <div class="notification-info">
                                                <h3><a href="#" title="">Juan</a>Comento tu publicacion</h3>
                                                <span style="position: relative;">2 min </span>
                                            </div><!--notification-info -->
                                        </div>
                                        <div class="view-all-nots">
                                            <a href="#" title="">Ver todas las notificaciones</a>
                                        </div>
                                    </div><!--nott-list end-->
                                </div><!--notification-box end-->
                            </li>
                        </ul>
                    </nav><!--nav end-->
                    <div class="menu-btn">
                        <a href="#" title=""><i class="fa fa-bars"></i></a>
                    </div><!--menu-btn end-->
                    <div class="user-account">
                        <div class="user-info">
                            <img height="30" width="30" src=@Model.UsuarioActivo.foto alt="">
                            <a href="#" title="">@Model.UsuarioActivo.nombre</a>
                            <i class="la la-sort-down"></i>
                        </div>
                        <div class="user-account-settingss">

                            <ul class="us-links">
                                <li><a href="/Home/Logout" title=""><i class="fa fa-user fa-1x" aria-hidden="true"></i>Ver mi perfil</a></li>
                            </ul>
                            <h3>Modo Oscuro</h3>
                            <ul class="on-off-status">
                                <li>
                                    <div class="fgt-sec">
                                        <input type="radio" name="cc" id="c5">
                                        <label for="c5">
                                            <span></span>
                                        </label>
                                        <small>Activado</small>
                                    </div>
                                </li>
                                <li>
                                    <div class="fgt-sec">
                                        <input type="radio" checked name="cc" id="c6">
                                        <label for="c6">
                                            <span></span>
                                        </label>
                                        <small>Desactivado</small>
                                    </div>
                                </li>
                            </ul>

                            <h3>Configuracion</h3>
                            <ul class="us-links">
                                <li><a href="profile-account-setting.html" title="">Configura tu Cuenta</a></li>
                                <li><a href="#" title="">Privacidad</a></li>
                                <li><a href="#" title="">Novedades</a></li>
                                <li><a href="#" title="">Terminos y Condiciones</a></li>
                            </ul>
                            <h3 class="tc"><a href="/Home/Logout" title="">Logout</a></h3>
                        </div><!--user-account-settingss end-->
                    </div>
                </div><!--header-data end-->
            </div>
        </header><!--header end-->

        <main>



            @*Tabs*@
            <div class="container">

                <div class="tab-feed">
                    <ul>
                        <li id="tab-feedTodos"  class="active">
                            <a href="#" title="" id="linkTodos">
                                <img src="~/SourcesTUMI/images/ic1.png" alt="">
                                <span>Todos</span>
                            </a>
                        </li>

                        <li id="tab-feedCulminados" class="" >
                            <a href="#" title="" id="linkCulminados">
                                <img src="~/SourcesTUMI/images/ic5.png" alt="">
                                <span>Culminados</span>
                            </a>
                        </li>

                        @if (Model.UsuarioActivo.tipo == 1)
                        {
                            <li>
                                <a href="#" title="" id="linkPostulaciones">
                                    <img src="~/SourcesTUMI/images/ic3.png" alt="">
                                    <span>Postulaciones</span>
                                </a>
                            </li>


                            <li>
                                <a href="#" title="" id="linkAsignados">
                                    <img src="~/SourcesTUMI/images/ic2.png" alt="">
                                    <span>Trabajando</span>
                                </a>
                            </li>

                        }


                    </ul>
                </div><!-- tab-feed end-->
            </div>



            <div class="main-section">


                <div class="container">
                    <div class="main-section-data">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 pd-left-none no-pd">
                                <div class="main-left-sidebar no-margin">
                                    <div class="user-data full-width">
                                        <div class="user-profile">
                                            <div id="contenedorUsuario" class="username-dt">
                                                <div class="usr-pic">
                                                    <img width="110" height="110" src=@Model.UsuarioActivo.foto alt="">
                                                </div>
                                            </div><!--username-dt end-->
                                            <div class="user-specs">
                                                <h3>@Model.UsuarioActivo.nombre @Model.UsuarioActivo.apellido</h3>
                                                <span>@Model.UsuarioActivo.correo</span>
                                            </div>
                                        </div><!--user-profile end-->
                                        <ul class="user-fw-status">
                                            <li>
                                                <h4>Seguidores</h4>
                                                <span>34</span>
                                            </li>
                                            <li>
                                                <h4>Siguiendo</h4>
                                                <span>155</span>
                                            </li>
                                            <li>
                                                <a href="#" title="">Ver mi perfil</a>
                                            </li>
                                        </ul>
                                    </div><!--user-data end-->
                                    <div class="suggestions full-width">
                                        <div class="sd-title">
                                            <h3>Logros</h3>
                                            <i class="la la-ellipsis-v"></i>
                                        </div><!--sd-title end-->
                                        <div class="suggestions-list">
                                            <div class="suggestion-usd">
                                                <img src="" alt="">
                                                <div class="sgt-text">
                                                    <h4>Aqui ira logro</h4>
                                                    <span>desc</span>
                                                </div>
                                                <span><i class="la la-plus"></i></span>
                                            </div>
                                            <div class="suggestion-usd">
                                                <img src="" alt="">
                                                <div class="sgt-text">
                                                    <h4>Aqui ira logro</h4>
                                                    <span>desc</span>
                                                </div>
                                                <span><i class="la la-plus"></i></span>
                                            </div>
                                            <div class="suggestion-usd">
                                                <img src="" alt="">
                                                <div class="sgt-text">
                                                    <h4>Aqui ira logro</h4>
                                                    <span>desc</span>
                                                </div>
                                                <span><i class="la la-plus"></i></span>
                                            </div>
                                            <div class="suggestion-usd">
                                                <img src="" alt="">
                                                <div class="sgt-text">
                                                    <h4>Aqui ira logro</h4>
                                                    <span>desc</span>
                                                </div>
                                                <span><i class="la la-plus"></i></span>
                                            </div>
                                            <div class="suggestion-usd">
                                                <img src="" alt="">
                                                <div class="sgt-text">
                                                    <h4>Aqui ira logro</h4>
                                                    <span>desc</span>
                                                </div>
                                                <span><i class="la la-plus"></i></span>
                                            </div>
                                            <div class="suggestion-usd">
                                                <img src="" alt="">
                                                <div class="sgt-text">
                                                    <h4>Aqui ira logro</h4>
                                                    <span>desc</span>
                                                </div>
                                                <span><i class="la la-plus"></i></span>
                                            </div>
                                            <div class="view-more">
                                                <a href="#" title="">Ver logros</a>
                                            </div>
                                        </div><!--suggestions-list end-->
                                    </div><!--suggestions end-->
                                    <div class="tags-sec full-width">
                                        <ul>
                                            <li><a href="#" title="">Help Center</a></li>
                                            <li><a href="#" title="">About</a></li>
                                            <li><a href="#" title="">Privacy Policy</a></li>
                                            <li><a href="#" title="">Community Guidelines</a></li>
                                            <li><a href="#" title="">Cookies Policy</a></li>
                                            <li><a href="#" title="">Career</a></li>
                                            <li><a href="#" title="">Language</a></li>
                                            <li><a href="#" title="">Copyright Policy</a></li>
                                        </ul>
                                        <div class="cp-sec">
                                            <img src="~/SourcesTUMI/images/TUMImage/LOGO.png" height="23" width="100" alt="">
                                            <p><img src="~/SourcesTUMI/images/cp.png" alt="">Copyright 2021</p>
                                        </div>
                                    </div><!--tags-sec end-->
                                </div><!--main-left-sidebar end-->
                            </div>
                            <div class="col-lg-6 col-md-8 no-pd">








                                <div class="main-ws-sec">


                                    <div class="post-topbar">
                                        <div class="user-picy">
                                            <img src=@Model.UsuarioActivo.foto class="rounded" alt="">
                                        </div>
                                        <div class="post-st">
                                            <ul>
                                                <li><a class="post_project" href="#" title="">Crear Publicacion</a></li>

                                            </ul>
                                        </div><!--post-st end-->
                                    </div><!--post-topbar end-->



                                    <div class="posts-section" id="seccionPublicaciones">

                                        @foreach (Publicacion pu in Model.pubs)
                                        {
                                            <div class="post-bar">
                                                <div class="post_topbar">
                                                    <div class="usy-dt">
                                                        <img class="rounded-circle" style=" max-width: 50px;max-height: 50px; min-height:50px;min-height:50px" src=@pu.usuario.foto alt="">
                                                        <div class="usy-name">
                                                            <h3>@pu.usuario.nombre @pu.usuario.apellido</h3>
                                                            @{TimeSpan diferenciaFecha = (Model.fechaActual - pu.fechaCreacion);

                                                                Console.WriteLine(Model.fechaActual);
                                                                Console.WriteLine(pu.fechaCreacion);
                                                                dias = diferenciaFecha.Days;
                                                                horas = diferenciaFecha.Hours;
                                                                Console.WriteLine(dias);
                                                                Console.WriteLine(horas);
                                                                minutos = diferenciaFecha.Minutes;

                                                                if (dias == 0 && horas == 0 && minutos == 0)
                                                                {
                                                                    <span><img src="~/SourcesTUMI/images/clock.png" alt="">justo ahora</span>
                                                                }
                                                                else if (dias > 0)
                                                                {

                                                                    <span><img src="~/SourcesTUMI/images/clock.png" alt="">Hace @dias  dias y @horas h </span>
                                                                }
                                                                else if (horas > 0 )
                                                                {


                                                                    <span><img src="~/SourcesTUMI/images/clock.png" alt="">Hace @horas h y @minutos min </span>

                                                                }
                                                                else
                                                                {



                                                                    <span><img src="~/SourcesTUMI/images/clock.png" alt="">Hace @minutos min </span>


                                                                }





                                                            }



                                                        </div>
                                                    </div>
                                                    <div class="ed-opts">
                                                        <a href="#" title="" class="ed-opts-open">
                                                            <i class="la

                                                                                                     la-ellipsis-v"></i>
                                                        </a>
                                                        <ul class="ed-options">
                                                            <li><a href="#" title="">Edit Post</a></li>
                                                            <li><a href="#" title="">Unsaved</a></li>
                                                            <li><a href="#" title="">Unbid</a></li>
                                                            <li><a href="#" title="">Close</a></li>
                                                            <li><a href="#" title="">Hide</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="epi-sec">
                                                    <ul class="descp">

                                                        <li><img src="~/SourcesTUMI/images/icon8.png" alt=""><span>Logro</span></li>
                                                        <li><img src="~/SourcesTUMI/images/icon9.png" alt=""><span>Logro</span></li>
                                                    </ul>
                                                    <ul class="bk-links">
                                                        <li><a href="#" title=""><i class="la la-bookmark"></i></a></li>
                                                        @*<li><a href="#" title=""><i class="la la-envelope"></i></a></li>*@
                                                    </ul>
                                                </div>
                                                <div class="job_descp">
                                                    <h3>"@pu.titulo"</h3>

                                                    <ul class="job-dt">

                                                        <li><a href="~/Publicacion/detalle?id=@pu.id" title="">Ver mas</a></li>

                                                        <li><span> Recaudado: S/@Convert.ToDouble(pu.donaciones.Sum(g => g.monto))</span></li>
                                                    </ul>
                                                    @if (pu.descripcion.Length <= 80)
                                                    {
                                                        <p>@pu.descripcion</p>
                                                    }
                                                    else
                                                    {
                                                        <p>@pu.descripcion.Substring(0, 80)...</p>
                                                    }





                                                    <div class="post-block-photo js-zoom-gallery">
                                                        @if (pu.fotos.Count > 5)
                                                        {
                                                            <a href=@pu.fotos[0].contenido class="half-width"><img style="height:140px" src=@pu.fotos[0].contenido alt="photo"></a>
                                                            <a href=@pu.fotos[1].contenido class="half-width"><img style="height:140px" src=@pu.fotos[1].contenido alt="photo"></a>
                                                            <a href=@pu.fotos[2].contenido class="col col-3-width"><img style="height:115px" src=@pu.fotos[2].contenido alt="photo"></a>
                                                            <a href=@pu.fotos[3].contenido class="col col-3-width"><img style="height:115px" src=@pu.fotos[3].contenido alt="photo"></a>
                                                            <a href=@pu.fotos[4].contenido class="more-photos col-3-width">

                                                                <img style="height:115px" src=@pu.fotos[4].contenido alt="photo">

                                                                <span class="h2">+@(pu.fotos.Count - 5)</span>
                                                            </a>
                                                            for (int i = 0; i < pu.fotos.Count; i++)
                                                            {
                                                                if (i > 4)
                                                                {
                                                                    <a href=@pu.fotos[i].contenido> </a>
                                                                }
                                                            }
                                                        }




                                                    </div>

                                                    <ul class="skill-tags">
                                                        <li><a href="#" title="">Niños</a></li>
                                                        <li><a href="#" title="">Escuela</a></li>
                                                        <li><a href="#" title="">Alumbrado</a></li>
                                                        <li><a href="#" title="">Electrico</a></li>

                                                    </ul>
                                                </div>
                                                <div class="job-status-bar">
                                                    <ul class="like-com">
                                                        <li>
                                                            <a style="margin-right: 32px;" href="#"><i class="la la-heart"></i> Like</a>

                                                            @foreach (ReaccionPublicacion reac in pu.reacciones)
                                                            {
                                                                if (reac.tipo == 0)
                                                                {
                                                                    <span> <img class="rounded-circle" height="30" width="30" src=@reac.usuario.foto alt=""></span>
                                                                }


                                                            }
                                                            @*<img src="~/files/fotosPublicaciones/123603957_222736775874400_760790310478950820_n.jpg" />*@

                                                            <span>@pu.reacciones.Count(o => o.tipo == 0)</span>
                                                        </li>

                                                        <li><a href="#" title="" class="com"><img src="~/SourcesTUMI/images/com.png" alt=""> Comentarios @pu.comentarios.Count</a></li>
                                                    </ul>
                                                    <a id=vista-@pu.id ><i class="la la-eye"></i>@pu.vista</a>
                                                </div>
                                            </div><!--post-bar end-->
                                        }


                                        <div class="process-comm">
                                            <div class="spinner">
                                                <div class="bounce1"></div>
                                                <div class="bounce2"></div>
                                                <div class="bounce3"></div>
                                            </div>
                                        </div><!--process-comm end-->
                                    </div><!--posts-section end-->













                                </div><!--main-ws-sec end-->
                            </div>
                            <div class="col-lg-3 pd-right-none no-pd">
                                <!--top profiles-->
                                <div class="top-profiles">
                                    <div class="pf-hd">
                                        <h3>Top Colaboradores</h3>
                                        <i class="la la-ellipsis-v"></i>
                                    </div>
                                    <div class="profiles-slider">
                                        <div class="user-profy">
                                            <img height="57" width="57" src="https://img.icons8.com/color/452/worker-beard.png" alt="">
                                            <h3>Trabajador</h3>
                                            <span>Electricista</span>
                                            <ul>
                                                <li><a href="#" title="" class="followw">Seguir</a></li>

                                            </ul>
                                            <a href="#" title="">Ver Perfil</a>
                                        </div><!--user-profy end-->
                                        <div class="user-profy">
                                            <img height="57" width="57" src="https://img.icons8.com/color/452/worker-beard.png" alt="">
                                            <h3>Trabajador</h3>
                                            <span>Electricista</span>
                                            <ul>
                                                <li><a href="#" title="" class="followw">Seguir</a></li>

                                            </ul>
                                            <a href="#" title="">Ver Perfil</a>
                                        </div><!--user-profy end-->
                                        <div class="user-profy">
                                            <img height="57" width="57" src="https://img.icons8.com/color/452/worker-beard.png" alt="">
                                            <h3>Trabajador</h3>
                                            <span>Electricista</span>
                                            <ul>
                                                <li><a href="#" title="" class="followw">Seguir</a></li>

                                            </ul>
                                            <a href="#" title="">Ver Perfil</a>
                                        </div><!--user-profy end-->
                                        <div class="user-profy">
                                            <img height="57" width="57" src="https://img.icons8.com/color/452/worker-beard.png" alt="">
                                            <h3>Trabajador</h3>
                                            <span>Electricista</span>
                                            <ul>
                                                <li><a href="#" title="" class="followw">Seguir</a></li>

                                            </ul>
                                            <a href="#" title="">Ver Perfil</a>
                                        </div><!--user-profy end-->
                                        <div class="user-profy">
                                            <img height="57" width="57" src="https://img.icons8.com/color/452/worker-beard.png" alt="">
                                            <h3>Trabajador</h3>
                                            <span>Electricista</span>
                                            <ul>
                                                <li><a href="#" title="" class="followw">Seguir</a></li>

                                            </ul>
                                            <a href="#" title="">Ver Perfil</a>
                                        </div><!--user-profy end-->
                                        <div class="user-profy">
                                            <img height="57" width="57" src="https://img.icons8.com/color/452/worker-beard.png" alt="">
                                            <h3>Trabajador</h3>
                                            <span>Electricista</span>
                                            <ul>
                                                <li><a href="#" title="" class="followw">Seguir</a></li>


                                            </ul>
                                            <a href="#" title="">Ver Perfil</a>
                                        </div><!--user-profy end-->
                                    </div><!--profiles-slider end-->
                                </div><!--top-profiles end-->
                                <!--<div class="right-sidebar">
                                <div class="widget widget-about">
                                    <img src="images/wd-logo.png" alt="">
                                    <h3>Track Time on Workwise</h3>
                                    <span>Pay only for the Hours worked</span>
                                    <div class="sign_link">
                                        <h3><a href="#" title="">Sign up</a></h3>
                                        <a href="#" title="">Learn More</a>
                                    </div>
                                </div>-->
                                <!--widget-about end-->
                                <!--<div class="widget widget-jobs">
                                <div class="sd-title">
                                    <h3>Top Jobs</h3>
                                    <i class="la la-ellipsis-v"></i>
                                </div>
                                <div class="jobs-list">
                                    <div class="job-info">
                                        <div class="job-details">
                                            <h3>Senior Product Designer</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                        </div>
                                        <div class="hr-rate">
                                            <span>$25/hr</span>
                                        </div>
                                    </div>-->
                                <!--job-info end-->
                                <!--<div class="job-info">
                                    <div class="job-details">
                                        <h3>Senior UI / UX Designer</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                    </div>
                                    <div class="hr-rate">
                                        <span>$25/hr</span>
                                    </div>
                                </div>-->
                                <!--job-info end-->
                                <!--<div class="job-info">
                                    <div class="job-details">
                                        <h3>Junior Seo Designer</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                    </div>
                                    <div class="hr-rate">
                                        <span>$25/hr</span>
                                    </div>
                                </div>-->
                                <!--job-info end-->
                                <!--<div class="job-info">
                                    <div class="job-details">
                                        <h3>Senior PHP Designer</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                    </div>
                                    <div class="hr-rate">
                                        <span>$25/hr</span>
                                    </div>
                                </div>-->
                                <!--job-info end-->
                                <!--<div class="job-info">
                                    <div class="job-details">
                                        <h3>Senior Developer Designer</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                    </div>
                                    <div class="hr-rate">
                                        <span>$25/hr</span>
                                    </div>
                                </div>-->
                                <!--job-info end-->
                                <!--</div>--><!--jobs-list end-->
                                <!--</div>--><!--widget-jobs end-->
                                <!--<div class="widget widget-jobs">
                                <div class="sd-title">
                                    <h3>Most Viewed This Week</h3>
                                    <i class="la la-ellipsis-v"></i>
                                </div>
                                <div class="jobs-list">
                                    <div class="job-info">
                                        <div class="job-details">
                                            <h3>Senior Product Designer</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                        </div>
                                        <div class="hr-rate">
                                            <span>$25/hr</span>
                                        </div>
                                    </div>-->
                                <!--job-info end-->
                                <!--<div class="job-info">
                                    <div class="job-details">
                                        <h3>Senior UI / UX Designer</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                    </div>
                                    <div class="hr-rate">
                                        <span>$25/hr</span>
                                    </div>
                                </div>-->
                                <!--job-info end-->
                                <!--<div class="job-info">
                                    <div class="job-details">
                                        <h3>Junior Seo Designer</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                                    </div>
                                    <div class="hr-rate">
                                        <span>$25/hr</span>
                                    </div>
                                </div>-->
                                <!--job-info end-->
                                <!--</div>--><!--jobs-list end-->
                                <!--</div>--><!--widget-jobs end-->
                                <!--<div class="widget suggestions full-width">
                                <div class="sd-title">
                                    <h3>Most Viewed People</h3>
                                    <i class="la la-ellipsis-v"></i>
                                </div>-->
                                <!--sd-title end-->
                                <!--<div class="suggestions-list">
                                    <div class="suggestion-usd">
                                        <img src="http://via.placeholder.com/35x35" alt="">
                                        <div class="sgt-text">
                                            <h4>Jessica William</h4>
                                            <span>Graphic Designer</span>
                                        </div>
                                        <span><i class="la la-plus"></i></span>
                                    </div>
                                    <div class="suggestion-usd">
                                        <img src="http://via.placeholder.com/35x35" alt="">
                                        <div class="sgt-text">
                                            <h4>John Doe</h4>
                                            <span>PHP Developer</span>
                                        </div>
                                        <span><i class="la la-plus"></i></span>
                                    </div>
                                    <div class="suggestion-usd">
                                        <img src="http://via.placeholder.com/35x35" alt="">
                                        <div class="sgt-text">
                                            <h4>Poonam</h4>
                                            <span>Wordpress Developer</span>
                                        </div>
                                        <span><i class="la la-plus"></i></span>
                                    </div>
                                    <div class="suggestion-usd">
                                        <img src="http://via.placeholder.com/35x35" alt="">
                                        <div class="sgt-text">
                                            <h4>Bill Gates</h4>
                                            <span>C &amp; C++ Developer</span>
                                        </div>
                                        <span><i class="la la-plus"></i></span>
                                    </div>
                                    <div class="suggestion-usd">
                                        <img src="http://via.placeholder.com/35x35" alt="">
                                        <div class="sgt-text">
                                            <h4>Jessica William</h4>
                                            <span>Graphic Designer</span>
                                        </div>
                                        <span><i class="la la-plus"></i></span>
                                    </div>
                                    <div class="suggestion-usd">
                                        <img src="http://via.placeholder.com/35x35" alt="">
                                        <div class="sgt-text">
                                            <h4>John Doe</h4>
                                            <span>PHP Developer</span>
                                        </div>
                                        <span><i class="la la-plus"></i></span>
                                    </div>
                                    <div class="view-more">
                                        <a href="#" title="">View More</a>
                                    </div>
                                </div>-->
                                <!--suggestions-list end-->
                                <!--</div>
                                </div>-->
                            </div>
                        </div>
                    </div><!-- main-section-data end-->
                </div>
            </div>
        </main>




        <div class="post-popup pst-pj">
            <div class="post-project">
                <h3>Crear publicacion</h3>
                <div class="post-project-fields">
                    <form action="/home/CrearPublicacion" enctype="multipart/form-data" method="post">
                        <div class="row">
                            <div class="col-lg-12">
                                <input type="text" name="titulo" placeholder="Titulo">
                            </div>
                            @*<div class="col-lg-12">
                                    <div class="inp-field">
                                        <select>
                                            <option>Tags</option>
                                            <option>Electrictico</option>
                                            <option>Metalico</option>
                                            <option>Estructural</option>
                                        </select>
                                    </div>
                                </div>>*@

                            <input type="text" name="idUsuario" value=@Model.UsuarioActivo.id hidden />
                            <div class="col-lg-12">
                                <textarea name="descripcion" placeholder="Descripcion"></textarea>
                            </div>
                            <!--subir imagenes-->
                            <div class="col-lg-12">
                                <div class="containerImagenes">
                                    <fieldset class="form-group">

                                        <a href="javascript:void(0)" onclick="$('#pro-image').click()">Subir Archivos</a>
                                        <input type="file" id="pro-image" name="files" style="display: none;" class="form-control" multiple>
                                    </fieldset>
                                    <div class="preview-images-zone">



                                    </div>
                                </div>
                            </div>
                            <!--subir imagenes-->
                            <div class="col-lg-12">
                                <ul>
                                    <li><button class="active" type="submit" value="post">Post</button></li>
                                    <li><a href="#" title="">Cancel</a></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div><!--post-project-fields end-->
                <a href="#" title=""><i class="la la-times-circle-o"></i></a>
            </div><!--post-project end-->
        </div><!--post-project-popup end-->

        <div class="post-popup job_post">
            <div class="post-project">
                <h3>Post a job</h3>
                <div class="post-project-fields">
                    <form>
                        <div class="row">
                            <div class="col-lg-12">
                                <input type="text" name="title" placeholder="Title">
                            </div>
                            <div class="col-lg-12">
                                <div class="inp-field">
                                    <select>
                                        <option>Category</option>
                                        <option>Category 1</option>
                                        <option>Category 2</option>
                                        <option>Category 3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <input type="text" name="skills" placeholder="Skills">
                            </div>
                            <div class="col-lg-6">
                                <div class="price-br">
                                    <input type="text" name="price1" placeholder="Price">
                                    <i class="la la-dollar"></i>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="inp-field">
                                    <select>
                                        <option>Full Time</option>
                                        <option>Half time</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <textarea name="description" placeholder="Description"></textarea>
                            </div>
                            <div class="col-lg-12">
                                <ul>
                                    <li><button class="active" type="submit" value="post">Post</button></li>
                                    <li><a href="#" title="">Cancel</a></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div><!--post-project-fields end-->
                <a href="#" title=""><i class="la la-times-circle-o"></i></a>
            </div><!--post-project end-->
        </div><!--post-project-popup end-->






        <div class="chatbox-list">


            <a class="back-to-top" style="color:coral; " href="#">
                <i class="fas fa-arrow-circle-up fa-3x back-icon"></i>

            </a>




        </div><!--chatbox-list end-->





    </div><!--theme-layout end-->
    <!--SOURCE 2-->

    <footer>

        <!-- JS Scripts -->
        <script src="~/SourcesTUMI/Sources2/js/jQuery/jquery-3.4.1.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/jquery.appear.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/jquery.mousewheel.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/perfect-scrollbar.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/jquery.matchHeight.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/svgxuse.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/imagesloaded.pkgd.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/Headroom.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/velocity.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/ScrollMagic.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/jquery.waypoints.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/jquery.countTo.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/popper.min.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/material.min.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/bootstrap-select.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/smooth-scroll.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/selectize.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/swiper.jquery.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/moment.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/daterangepicker.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/fullcalendar.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/isotope.pkgd.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/ajax-pagination.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/Chart.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/chartjs-plugin-deferred.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/circle-progress.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/loader.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/run-chart.js"></script>

        <script src="~/SourcesTUMI/Sources2/js/libs/jquery.gifplayer.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/mediaelement-and-player.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/mediaelement-playlist-plugin.min.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs/ion.rangeSlider.js"></script>

        <script src="~/SourcesTUMI/Sources2/js/main.js"></script>
        <script src="~/SourcesTUMI/Sources2/js/libs-init/libs-init.js"></script>
        <script defer src="~/SourcesTUMI/Sources2/fonts/fontawesome-all.js"></script>

        @*<script src="~/SourcesTUMI/Bootstrap/dist/js/bootstrap.bundle.js"></script>*@

        <!--SOURCE 1-->
        <script src="~/SourcesTUMI/js/jquery.min.js"></script>
        <script src="~/SourcesTUMI/js/popper.js"></script>
        <script src="~/SourcesTUMI/js/bootstrap.min.js"></script>
        <script src="~/SourcesTUMI/js/jquery.mCustomScrollbar.js"></script>
        <script src="~/SourcesTUMI/lib/slick/slick.min.js"></script>
        <script src="~/SourcesTUMI/js/scrollbar.js"></script>
        <script src="~/SourcesTUMI/js/script.js"></script>


        <script src="~/SourcesTUMI/Sources2/js/libs/jquery.magnific-popup.js"></script>


        <!--subir imagenes-->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <script src="~/SourcesTUMI/js/SubirImagenes.js"></script>

        <!--JS TUMI-->
       
        <script src="~/SourcesTUMI/js/M_TUMI.js"></script>


      

    </footer>
</body>
</html>


