@charset "UTF-8";


* {
    box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container-galleria {
    position: relative;
}

/* Hide the images by default */
.mySlides-galleria {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor-galleria {
    cursor: pointer;
}

/* Next & previous buttons */
.prev-galleria,
.next-galleria {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next-galleria {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev-galleria:hover,
    .next-galleria:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

/* Number text (1/3 etc) */
.numbertext-galleria {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container-galleria {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row-galleria:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column-galleria {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo-galleria {
    opacity: 0.6;
}

    .active-galleria,
    .demo-galleria:hover {
        opacity: 1;
    }


