﻿@{
    Layout = null;
}
<li class="comment-item mt-3" style="border-radius: 20px 20px;border-bottom: 2mm groove rgb(254 221 62 / 44%);border-left: 2mm ridge rgb(254 221 62/44%);">
    <div class="post__author author vcard inline-items">
        <img src=@Model.usuario.foto alt="author">

        <div class="author-date">
            <a class="h6 post__author-name fn" href="02-ProfilePage.html">@Model.usuario.nombre</a>



            <div class="post__date">
                <time class="published" datetime=@Model.fecha>
                    justo ahora
                </time>

            </div>

        </div>

        <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href=""></use></svg></a>

    </div>

    <p>@Model.contenido</p>

    <a href="#" class="post-add-icon inline-items">
        <i class="fa fa-heart-o"></i>
        <span style="margin-bottom: 0px;">3</span>

    </a>
    <a href="#" class="reply">Reply</a>
</li>