﻿

@{
    Layout = null;
    Publicacion pu = Model.pub;

    String cantidadComents = "";
    int indiceFotos = 0;
    float sumDonaciones = 0;
    float porcentajeDonacion = 0;

    //valor provisional hasta hacer la logica
    float valorAsignadoPub =(float) pu.montoAsignado ;
    TimeSpan diferenciaFecha;

    int dias = 0;
    int horas = 0;
    int minutos = 0;
   
}



<html>
<head>
    <meta charset="UTF-8">
    <title>TUMIsmitoPE</title>



    @*<link type="text/css" href="~/SourcesTUMI/css/ImagenesGaleria.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!--source 1-->

    <link rel="stylesheet" type="text/css" href="~/SourcesTUMI/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/SourcesTUMI/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/SourcesTUMI/css/line-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/SourcesTUMI/css/line-awesome-font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/SourcesTUMI/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/SourcesTUMI/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="~/SourcesTUMI/lib/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="~/SourcesTUMI/lib/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="~/SourcesTUMI/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/SourcesTUMI/css/responsive.css">

    <!--edited-->
    <link type="text/css" href="~/SourcesTUMI/css/M_ComentariosEstilo.css" rel="stylesheet" />






</head>



<body>

    <input type="text" id="UserActivoId" value=@Model.UsuarioActivo.id hidden />
    <div class="wrapper">
        <header>
            <div class="container">
                <div class="header-data">
                    <div class="logo" style="width:320px">

                        <a href="/Home/Index" title=""><img height="40" width="180" src="~/SourcesTUMI/images/TUMImage/LOGO.png" alt=""></a>
                    </div><!--logo end-->
                    @*<div class="search-bar">
                        <form>
                            <input type="text" name="search" placeholder="Search...">
                            <button type="submit"><i class="la la-search"></i></button>
                        </form>
                    </div>*@<!--search-bar end-->
                    <nav>
                        <ul>
                            <li>
                                <a href="/Home/Index" title="">

                                    <span><img src="~/SourcesTUMI/images/icon1.png" alt=""></span>
                                    Home
                                </a>
                            </li>
                            @*<li>
                                <a href="companies.html" title="">

                                    <span><img src="~/SourcesTUMI/images/icon2.png" alt=""></span>
                                    Companies
                                </a>
                                <ul>
                                    <li><a href="companies.html" title="">Companies</a></li>
                                    <li><a href="company-profile.html" title="">Company Profile</a></li>
                                </ul>
                            </li>*@
                            <li>
                                <a href="projects.html" title="">

                                    <span><img src="~/SourcesTUMI/images/icon3.png" alt=""></span>
                                    Logros
                                </a>
                            </li>
                            <li>
                                <a href="profiles.html" title="">

                                    <span><img src="~/SourcesTUMI/images/icon5.png" alt=""></span>
                                    Staff
                                </a>
                                <ul>
                                    <li><a href="user-profile.html" title="">Ver staff</a></li>
                                    <li><a href="my-profile-feed.html" title="">Unirme al staff</a></li>
                                </ul>
                            </li>
                            @*<li>
                                <a href="jobs.html" title="">

                                    <span><img src="~/SourcesTUMI/images/icon5.png" alt=""></span>
                                    Jobs
                                </a>
                            </li>*@
                            <!--<li>
                        <a href="#" title="" class="not-box-open">
                            <span><img src="~/SourcesTUMI/images/icon6.png" alt=""></span>
                            Messages
                        </a>
                        <div class="notification-box msg">
                            <div class="nt-title">
                                <h4>Setting</h4>
                                <a href="#" title="">Clear all</a>
                            </div>
                            <div class="nott-list">
                                <div class="notfication-details">
                                    <div class="noty-user-img">
                                        <img src="images/resources/ny-img1.png" alt="">
                                    </div>
                                    <div class="notification-info">
                                        <h3><a href="messages.html" title="">Jassica William</a> </h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</p>
                                        <span>2 min ago</span>
                                    </div>-->
                            <!--notification-info -->
                            <!--</div>
                        <div class="notfication-details">
                            <div class="noty-user-img">
                                <img src="images/resources/ny-img2.png" alt="">
                            </div>
                            <div class="notification-info">
                                <h3><a href="messages.html" title="">Jassica William</a></h3>
                                <p>Lorem ipsum dolor sit amet.</p>
                                <span>2 min ago</span>
                            </div>-->
                            <!--notification-info -->
                            <!--</div>
                        <div class="notfication-details">
                            <div class="noty-user-img">
                                <img src="images/resources/ny-img3.png" alt="">
                            </div>
                            <div class="notification-info">
                                <h3><a href="messages.html" title="">Jassica William</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut labore et dolore magna aliqua.</p>
                                <span>2 min ago</span>
                            </div>-->
                            <!--notification-info -->
                            <!--</div>
                            <div class="view-all-nots">
                                <a href="messages.html" title="">View All Messsages</a>
                            </div>
                        </div>-->
                            <!--nott-list end-->
                            <!--</div>--><!--notification-box end-->
                            <!--</li>-->
                            <li>
                                <a href="#" title="" class="not-box-open">
                                    <span><img src="~/SourcesTUMI/images/icon7.png" alt=""></span>
                                    Notificacion
                                </a>
                                <div class="notification-box">
                                    <div class="nt-title">
                                        @*<h4>Setting</h4>*@
                                        <a href="#" title="">Limpiar todo</a>
                                    </div>
                                    <div class="nott-list">
                                        <div class="notfication-details">
                                            <div class="noty-user-img">
                                                <img src="images/resources/ny-img1.png" alt="">
                                            </div>
                                            <div class="notification-info">
                                                <h3><a href="#" title="">Juan</a> Comento tu publicacion</h3>
                                                <span style="position: relative;">2 min </span>
                                            </div><!--notification-info -->
                                        </div>
                                        <div class="notfication-details">
                                            <div class="noty-user-img">
                                                <img src="images/resources/ny-img2.png" alt="">
                                            </div>
                                            <div class="notification-info">
                                                <h3><a href="#" title="">Juan</a>Comento tu publicacion</h3>
                                                <span style="position: relative;">2 min </span>
                                            </div><!--notification-info -->
                                        </div>
                                        <div class="notfication-details">
                                            <div class="noty-user-img">
                                                @*<img src="images/resources/ny-img3.png" alt="">*@
                                            </div>
                                            <div class="notification-info">
                                                <h3><a href="#" title="">Juan</a>Comento tu publicacion</h3>
                                                <span style="position: relative;">2 min </span>
                                            </div><!--notification-info -->
                                        </div>
                                        <div class="notfication-details">
                                            <div class="noty-user-img">
                                                <img src="images/resources/ny-img2.png" alt="">
                                            </div>
                                            <div class="notification-info">
                                                <h3><a href="#" title="">Juan</a>Comento tu publicacion</h3>
                                                <span style="position: relative;">2 min </span>
                                            </div><!--notification-info -->
                                        </div>
                                        <div class="view-all-nots">
                                            <a href="#" title="">Ver todas las notificaciones</a>
                                        </div>
                                    </div><!--nott-list end-->
                                </div><!--notification-box end-->
                            </li>
                        </ul>
                    </nav><!--nav end-->
                    <div class="menu-btn">
                        <a href="#" title=""><i class="fa fa-bars"></i></a>
                    </div><!--menu-btn end-->
                    <div class="user-account">
                        <div class="user-info">
                            <img height="30" width="30" src=@Model.UsuarioActivo.foto alt="">
                            <a href="#" title="">@Model.UsuarioActivo.nombre</a>
                            <i class="la la-sort-down"></i>
                        </div>
                        <div class="user-account-settingss">

                            <ul class="us-links">
                                <li><a href="/Home/Logout" title=""><i class="fa fa-user fa-1x" aria-hidden="true"></i>Ver mi perfil</a></li>
                            </ul>
                            <h3>Modo Oscuro</h3>
                            <ul class="on-off-status">
                                <li>
                                    <div class="fgt-sec">
                                        <input type="radio" name="cc" id="c5">
                                        <label for="c5">
                                            <span></span>
                                        </label>
                                        <small>Activado</small>
                                    </div>
                                </li>
                                <li>
                                    <div class="fgt-sec">
                                        <input type="radio" checked name="cc" id="c6">
                                        <label for="c6">
                                            <span></span>
                                        </label>
                                        <small>Desactivado</small>
                                    </div>
                                </li>
                            </ul>

                            <h3>Configuracion</h3>
                            <ul class="us-links">
                                <li><a href="profile-account-setting.html" title="">Configura tu Cuenta</a></li>
                                <li><a href="#" title="">Privacidad</a></li>
                                <li><a href="#" title="">Novedades</a></li>
                                <li><a href="#" title="">Terminos y Condiciones</a></li>
                            </ul>
                            <h3 class="tc"><a href="/Home/Logout" title="">Logout</a></h3>
                        </div><!--user-account-settingss end-->
                    </div>
                </div><!--header-data end-->
            </div>
        </header>

        <section class="forum-sec">
            <div class="container">
                <div class="forum-links">
                    <ul>
                        <li class="active"><a href="~/Publicacion/detalle?id=@pu.id" title="">Detalle</a></li>
                        <li><a href="~/Publicacion/Postulaciones?id=@pu.id" title="">Postulaciones</a></li>

                    </ul>
                </div><!--forum-links end-->
                @*<div class="forum-links-btn">
                    <a href="#" title=""><i class="fa fa-bars"></i></a>
                </div>*@
            </div>
        </section>

        <section class="forum-page">
            <div class="container">

                <div class="forum-questions-sec">

                    <div class="row">

                        <div class="col-lg-8">

                            <div class="forum-post-view" style=" border-top-left-radius: 40px 40px;border-left: 5mm ridge rgb(255, 100, 0, .7);">

                                <div class="usr-question">
                                    <div class="usr_img">
                                        <img src=@Model.pub.usuario.foto height="60" alt="">
                                    </div>

                                    <div class="usr_quest">

                                        @if (Model.UsuarioActivo.tipo == 1 &&  !ViewBag.postulo && pu.estado!=1 && pu.estado != 2 && pu.estado != 3 && pu.idUsuario!=Model.UsuarioActivo.id)
                                        {
                                            <div class="message-btn" style="margin-top: 0px; margin-bottom: 0px;">
                                                <a class="post-jb active" href="#" title=""><i class="fa fa-yelp"></i> Postular</a>
                                            </div>

                                        }



                                        <h3>@Model.pub.usuario.nombre @Model.pub.usuario.apellido</h3>

                                        @{ diferenciaFecha = (Model.fechaActual - pu.fechaCreacion);

                                            //Console.WriteLine(Model.fechaActual);
                                            //Console.WriteLine(pu.fechaCreacion);
                                            dias = diferenciaFecha.Days;
                                            horas = diferenciaFecha.Hours;

                                            minutos = diferenciaFecha.Minutes;

                                            if (dias == 0 && horas == 0 && minutos == 0)
                                            {

                                                <span><i class="fa fa-clock-o"></i>justo ahora</span>
                                            }
                                            else if (dias > 0)
                                            {


                                                <span><i class="fa fa-clock-o"></i>Hace @dias  dias y @horas h</span>
                                            }
                                            else if (horas > 0)
                                            {



                                                <span><i class="fa fa-clock-o"></i>Hace @horas h y @minutos min</span>

                                            }
                                            else
                                            {



                                                <span><i class="fa fa-clock-o"></i>Hace @minutos min</span>


                                            }





                                        }

                                    <ul class="react-links">
                                        <li><a href="#" title=""><i class="fa fa-heart"></i> @pu.reacciones.Count(o => o.tipo == 0)</a></li>

                                        @if (pu.estado != 1)
                                        {
                                            <li><a class="post_project" href="#" title=""><i class="fa fa-money"></i> Donar</a></li>
                                        }

                                        <li><a href="#" title=""><i class="fa fa-ban"></i> Reportar</a></li>
                                    </ul>


                                        <ul class="quest-tags">
                                            <li><a href="#" title="">Niños</a></li>
                                            <li><a href="#" title="">Escuela</a></li>
                                            <li><a href="#" title="">Alumbrado</a></li>
                                            <li><a href="#" title="">Electrico</a></li>
                                        </ul>

                                        <div class="container">
                                            <!--BARRA DE PROGRESO-->
                                            <span class="content-center" style="margin-bottom: 5px;font-size: 20px;color: #781292;">Donaciones</span>

                                            @foreach (Donacion d in pu.donaciones)
                                            {
                                                sumDonaciones += (float)d.monto;
                                            }
                                            <!--
    <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
             aria-valuenow=@sumDonaciones aria-valuemin="0" aria-valuemax="100" style="width:100%">
            S/@sumDonaciones
        </div>
        <small>-->
                                            <!--aca va el valor faltante-->
                                            <!--</small>
    </div>-->


                                            @{
                                                if (valorAsignadoPub == 0)
                                                {
                                                    valorAsignadoPub = sumDonaciones * 2;
                                                    <h2 style="font-style: oblique;text-align: right;">Meta:---</h2>
                                                }
                                                else
                                                {

                                                    <h2 style="font-style: oblique;text-align: right;">Meta:S/@valorAsignadoPub</h2>
                                                }

                                                if (pu.estado==3) {
                                                    valorAsignadoPub = sumDonaciones;

                                                }

                                                porcentajeDonacion = (sumDonaciones * 100) / valorAsignadoPub;


                                                string cantidad = Convert.ToString(porcentajeDonacion) + "%";}


                                            <div class="progress">
                                                <div id="progressBarDonacion" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="@sumDonaciones" aria-valuemin="0" aria-valuemax="@valorAsignadoPub" style="width:@cantidad.Replace(",",".")">
                                                    S/@sumDonaciones
                                                </div>
                                            </div>
                                        </div>
                                        @{sumDonaciones = 0; }
                                        <!--BARRA DE PROGRESO-->

                                        <p>@pu.descripcion</p>

                                        <!--GALLERIA-->
                                        <div>
                                            <div class="txtFotos gradient-text">Fotos</div>
                                            <div id="myCarousel" class="carousel slide BordeColorido" style=" margin-bottom: 10px;" data-interval="false">
                                                <!-- Indicators -->
                                                <ol class="carousel-indicators">

                                                    @foreach (Foto foto in pu.fotos)
                                                    {
                                                        if (indiceFotos == 0)
                                                        {
                                                            <li id="carousel-0" data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                                        }
                                                        else
                                                        {
                                                            <li id="carousel-@indiceFotos" data-target="#myCarousel" data-slide-to=@indiceFotos></li>

                                                        }
                                                        indiceFotos++;

                                                    }
                                                    @{indiceFotos = 0;}


                                                </ol>

                                                <!-- Wrapper for slides -->
                                                <div class="carousel-inner">

                                                    @foreach (Foto foto in pu.fotos)
                                                    {
                                                        if (indiceFotos == 0)
                                                        {
                                                            <div class="item active">
                                                                <img src=@foto.contenido alt="Peru" style="width:100%; height: 325.21px;">
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="item">
                                                                <img src=@foto.contenido alt="Foto" style="    width: 100%;height: 325.21px;">
                                                            </div>
                                                        }

                                                        indiceFotos++;
                                                    }
                                                    @{indiceFotos = 0;}


                                                </div>

                                                <!-- Left and right controls -->
                                                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </div>
                                        </div>
                                        <!--GALERIA-->

                                        <div  class="comment-section ">

                                            @{cantidadComents = (pu.comentarios.Count < 10 && pu.comentarios.Count > 0) ? "0" : ""; }
                                            <h3 id="cantidadComents" style="float:none">@cantidadComents@pu.comentarios.Count Comentarios</h3>
                                            <!-- Comments -->

                                            <ul class="comments-list" id="listaComentarios">

                                                @foreach (Comentario coment in pu.comentarios)
                                                {

                                                    <li class="comment-item mt-3" style="border-radius: 20px 20px;border-bottom: 2mm groove rgb(254 221 62 / 44%);border-left: 2mm ridge rgb(254 221 62/44%);">
                                                        <div class="post__author author vcard inline-items">
                                                            <img src=@coment.usuario.foto alt="author">

                                                            <div class="author-date">
                                                                <a class="h6 post__author-name fn" href="02-ProfilePage.html">@coment.usuario.nombre</a>

                                                                @{ diferenciaFecha = (Model.fechaActual - coment.fecha);

                                                                    Console.WriteLine(Model.fechaActual);
                                                                    Console.WriteLine(coment.fecha);
                                                                    dias = diferenciaFecha.Days;
                                                                    horas = diferenciaFecha.Hours;

                                                                    minutos = diferenciaFecha.Minutes;

                                                                    if (dias == 0 && horas == 0 && minutos == 0)
                                                                    {

                                                                        <div class="post__date">
                                                                            <time class="published" datetime=@coment.fecha>
                                                                                justo ahora
                                                                            </time>

                                                                        </div>
                                                                    }
                                                                    else if (dias > 0)
                                                                    {


                                                                        <div class="post__date">
                                                                            <time class="published" datetime=@coment.fecha>
                                                                                Hace @dias  dias y @horas h
                                                                            </time>

                                                                        </div>
                                                                    }
                                                                    else if (horas > 0 && minutos != 60)
                                                                    {



                                                                        <div class="post__date">
                                                                            <time class="published" datetime=@coment.fecha>
                                                                                Hace @horas h y @minutos min
                                                                            </time>

                                                                        </div>
                                                                    }
                                                                    else
                                                                    {




                                                                        <div class="post__date">
                                                                            <time class="published" datetime=@coment.fecha>
                                                                                Hace @minutos min
                                                                            </time>

                                                                        </div>

                                                                    }


                                                                }



                                                            </div>

                                                            <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href=""></use></svg></a>

                                                        </div>

                                                        <p>@coment.contenido</p>

                                                        <a href="#" class="post-add-icon inline-items">
                                                            <i class="fa fa-heart-o"></i>
                                                            <span style="margin-bottom: 0px;">3</span>

                                                        </a>

                                                        <a href="" id=@coment.id class="reply">
                                                            <i class="fa fa-reply "></i>
                                                            Reply

                                                        </a>


                                                        @* REPLY COMENT*@



                                                    </li>

                                                    <li>
                                                        <div class="container" style="padding-left: 30px;">
                                                            <ul class="comments-list" id="listaReply-@coment.id">
                                                                @foreach (ReplyComentario rc in coment.replyComentarios)
                                                                {
                                                                    <li class="comment-item" style="border-left: 1mm solid rgb(254 221 62/44%); border-bottom-right-radius: 20px 20px; border-top-right-radius: 20px 20px;">
                                                                        <div class="post__author author vcard inline-items">
                                                                            <img src=@rc.usuario.foto alt="author">

                                                                            <div class="author-date">
                                                                                <a class="h6 post__author-name fn" href="02-ProfilePage.html">@rc.usuario.nombre</a>

                                                                                @{ diferenciaFecha = (Model.fechaActual - rc.fecha);

                                                                                    Console.WriteLine(Model.fechaActual);
                                                                                    Console.WriteLine(rc.fecha);
                                                                                    dias = diferenciaFecha.Days;
                                                                                    horas = diferenciaFecha.Hours;

                                                                                    minutos = diferenciaFecha.Minutes;

                                                                                    if (dias == 0 && horas == 0 && minutos == 0)
                                                                                    {

                                                                                        <div class="post__date">
                                                                                            <time class="published" datetime=@rc.fecha>
                                                                                                justo ahora
                                                                                            </time>

                                                                                        </div>
                                                                                    }
                                                                                    else if (dias > 0)
                                                                                    {


                                                                                        <div class="post__date">
                                                                                            <time class="published" datetime=@rc.fecha>
                                                                                                Hace @dias  dias y @horas h
                                                                                            </time>

                                                                                        </div>
                                                                                    }
                                                                                    else if (horas > 0 && minutos != 60)
                                                                                    {



                                                                                        <div class="post__date">
                                                                                            <time class="published" datetime=@rc.fecha>
                                                                                                Hace @horas h y @minutos min
                                                                                            </time>

                                                                                        </div>
                                                                                    }
                                                                                    else
                                                                                    {




                                                                                        <div class="post__date">
                                                                                            <time class="published" datetime=@rc.fecha>
                                                                                                Hace @minutos min
                                                                                            </time>

                                                                                        </div>

                                                                                    }


                                                                                }



                                                                            </div>

                                                                            <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href=""></use></svg></a>

                                                                        </div>

                                                                        <p>@rc.contenido</p>

                                                                        <a href="#" class="post-add-icon inline-items">
                                                                            <i class="fa fa-heart-o"></i>
                                                                            <span style="margin-bottom: 0px;">3</span>

                                                                        </a>



                                                                        @* END REPLY COMENT*@



                                                                    </li>



                                                                    //ACA VA EL FORMULARIO PARA ENVIRA REPLY




                                                                }
                                                                <li id="listForm-@coment.id" style="border-left: 1mm solid rgb(254 221 62/44%); border-bottom-right-radius: 20px 20px; border-top-right-radius: 20px 20px;">
                                                                    @*<div class="post-comment-box">

                                                                        <div class="user-poster">
                                                                            <div class="usr-post-img" style="margin-right: 0px;margin-left: 7px;">
                                                                                <img src=@Model.UsuarioActivo.foto style="height:26px !important;width:26px !important;" alt="">
                                                                            </div>
                                                                            <div class="post_comment_sec" style="width: 86%;">
                                                                                <form id="formComent" method="post" action="/Publicacion/Comentar">
                                                                                    <input type="text" id="comentLibId" name="idPublicacion" value=@Model.pub.id hidden />
                                                                                    <input type="text" id="comentUsuario" name="idUsuario" value=@Model.UsuarioActivo.id hidden />
                                                                                    <textarea name="contenido" id="contentComent" placeholder="Respuesta"></textarea>
                                                                                    <button id="sendReply" type="submit">Enviar</button>
                                                                                    <button id="ReplyCancel" type="submit" style="margin-left: 15px;">Cancelar</button>
                                                                                </form>
                                                                            </div>post_comment_sec end
                                                                        </div>user-poster end
                                                                    </div>post-comment-box end*@

                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </li>

                                                }

                                            </ul>
                                            <a href="#" class="more-comments mt-3" style=" border-radius: 40px 40px;border-left: 5mm groove rgb(255, 100, 0, .7);border-right: 5mm ridge rgb(255, 100, 0, .8);">Ver mas comentarios <span>+</span></a>
                                            <!-- ... end Comments -->
                                        </div>
                                    </div><!--usr_quest end-->
                                </div><!--usr-question end-->
                            </div><!--forum-post-view end-->
                            <div class="post-comment-box">
                                <h3 id="cantidadComentsBox" >@cantidadComents@pu.comentarios.Count Comentarios</h3>
                                <div class="user-poster">
                                    <div class="usr-post-img">
                                        <img src=@Model.UsuarioActivo.foto style="height:50px !important;" alt="">
                                    </div>
                                    <div class="post_comment_sec">
                                        <form id="formComent" method="post" action="/Publicacion/Comentar">
                                            <input type="text" id="comentLibId" name="idPublicacion" value=@Model.pub.id hidden />
                                            <input type="text" id="comentUsuario" name="idUsuario" value=@Model.UsuarioActivo.id hidden />
                                            <textarea name="contenido" id="contentComent" placeholder="Tu comentario"></textarea>
                                            <button id="sendComent" type="submit">Enviar Comentario</button>
                                        </form>
                                    </div><!--post_comment_sec end-->
                                </div><!--user-poster end-->
                            </div><!--post-comment-box end-->
                            <div class="next-prev">
                                @*<a href="#" title="" class="fl-left">Preview</a>
                                <a href="#" title="" class="fl-right">Next</a>*@
                            </div><!--next-prev end-->
                        </div>
                        <div class="col-lg-4">
                            <div class="widget widget-feat">
                                <ul>
                                    <li>
                                        <i class="fa fa-heart"></i>


                                        <span>@pu.reacciones.Count(o => o.tipo == 0)</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-comment"></i>
                                        <span>@pu.comentarios.Count</span>
                                    </li>

                                    <li>
                                        <i class="fa fa-eye"></i>
                                        <span>@pu.vista</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-ban"></i>
                                        <span>@pu.reacciones.Count(o => o.tipo == 1)</span>
                                    </li>
                                </ul>
                            </div><!--widget-feat end-->

                            <div class="widget widget-user">
                                <h3 class="title-wd">Donadores</h3>
                                <ul>
                                    @foreach (Donacion don in Model.pub.donaciones) { 
                                    <li>
                                        <div class="usr-msg-details">
                                            <div class="usr-ms-img">
                                                <img height="50" width="50" src=@don.usuario.foto alt="">
                                            </div>
                                            <div class="usr-mg-info">
                                                <h3>@don.usuario.nombre @don.usuario.apellido  </h3>

                                                <p>@don.fecha.ToString("dd/MM/yy")</p>
                                            </div><!--usr-mg-info end-->
                                        </div>
                                        @if (@don.monto >= 200)
                                        {
                                            <span><img src="~/SourcesTUMI/images/price1.png" alt="">S/@don.monto</span>
                                        }
                                        else if (@don.monto >= 100)
                                        {
                                            <span><img src="~/SourcesTUMI/images/price3.png" alt="">S/@don.monto</span>
                                        }
                                        else if (@don.monto >= 50)
                                        {
                                            <span><img src="~/SourcesTUMI/images/price4.png" alt="">S/@don.monto</span>
                                        }
                                        else
                                        {
                                            <span><img src="~/SourcesTUMI/images/price2.png" alt="">S/@don.monto</span>
                                        }

                                    </li>
                                    }
                                </ul>
                            </div><!--widget-user end-->

                        </div>
                    </div>
                </div><!--forum-questions-sec end-->
            </div>
        </section><!--forum-page end-->



        <footer>
            <div class="footy-sec mn no-margin">
                <div class="container">
                    <ul>
                        <li><a href="#" title="">Help Center</a></li>
                        <li><a href="#" title="">Privacy Policy</a></li>
                        <li><a href="#" title="">Community Guidelines</a></li>
                        <li><a href="#" title="">Cookies Policy</a></li>
                        <li><a href="#" title="">Career</a></li>
                        <li><a href="#" title="">Forum</a></li>
                        <li><a href="#" title="">Language</a></li>
                        <li><a href="#" title="">Copyright Policy</a></li>
                    </ul>
                    <p><img src="images/copy-icon2.png" alt="">Copyright 2018</p>
                    <img class="fl-rgt" src="images/logo2.png" alt="">
                </div>
            </div>
        </footer>


        <div class="overview-box" id="question-box">
            <div class="overview-edit">
                <h3>Ask a Question</h3>
                <form>
                    <input type="text" name="question" placeholder="Type Question Here">
                    <input type="text" name="tags" placeholder="Tags">
                    <textarea placeholder="Description"></textarea>
                    <button type="submit" class="save">Submit</button>
                    <button type="submit" class="cancel">Cancel</button>
                </form>
                <a href="#" title="" class="close-box"><i class="la la-close"></i></a>
            </div><!--overview-edit end-->
        </div><!--overview-box end-->
        @*DONACION FORMLUARIO*@
        <div id="popupDonacion" class="post-popup pst-pj" style="-webkit-transform: scale(0.97) translateX(-50%) translateY(-51%);">
            <div class="post-project">
                <h3>Realizar Donacion</h3>
                <div class="add-billing-method ">

                    <h4><img src="~/SourcesTUMI/images/dlr-icon.png" alt=""><span>Con TUMIsmitoPE tienes la mejor proteccion para que tus donaciones sean seguras.</span></h4>
                    <div class="payment_methods">
                        <h4>Credito o Debito</h4>
                        <form method="post" action="/Publicacion/setDonacion">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="cc-head">
                                        <h5>Numero de Tarjeta</h5>
                                        <ul>
                                            <li><img src="~/SourcesTUMI/images/cc-icon1.png" alt=""></li>
                                            <li><img src="~/SourcesTUMI/images/cc-icon2.png" alt=""></li>
                                            <li><img src="~/SourcesTUMI/images/cc-icon3.png" alt=""></li>
                                            <li><img src="~/SourcesTUMI/images/cc-icon4.png" alt=""></li>
                                        </ul>
                                    </div>
                                    <div class="inpt-field pd-moree">
                                        <input type="text" name="numero" placeholder="">
                                        <i class="fa fa-credit-card"></i>
                                    </div><!--inpt-field end-->
                                </div>
                                <div class="col-lg-6">
                                    <div class="cc-head">
                                        <h5>Nombre</h5>
                                    </div>
                                    <div class="inpt-field">
                                        <input type="text" name="nombre" placeholder="">
                                    </div><!--inpt-field end-->
                                </div>
                                <div class="col-lg-6">
                                    <div class="cc-head">
                                        <h5>Apellido</h5>
                                    </div>
                                    <div class="inpt-field">
                                        <input type="text" name="apellido" placeholder="">
                                    </div><!--inpt-field end-->
                                </div>
                                <div class="col-lg-6">
                                    <div class="cc-head">
                                        <h5>Vencimiento</h5>
                                    </div>
                                    <div class="rowwy">
                                        <div class="row">
                                            <div class="col-lg-6 pd-left-none no-pd">
                                                <div class="inpt-field">
                                                    <input type="text" name="mesVencimiento" placeholder="MM">
                                                </div><!--inpt-field end-->
                                            </div>
                                            <div class="col-lg-6 pd-right-none no-pd">
                                                <div class="inpt-field">
                                                    <input type="text" name="anioVencimiento" placeholder="YY">
                                                </div><!--inpt-field end-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="cc-head">
                                        <h5>CVV (Codigo de Seguridad) <i class="fa fa-question-circle"></i></h5>
                                    </div>
                                    <div class="inpt-field">
                                        <input type="text" name="codigoSeguridad" placeholder="">
                                    </div><!--inpt-field end-->
                                </div>



                                <div class="col-lg-6">
                                    <div class="cc-head">
                                        <h5>Monto</h5>
                                    </div>
                                    <div class="inpt-field">
                                        <input type="text" name="canalPago" value="Tarjeta" hidden>
                                        <input type="text" name="idUsuario" value=@Model.UsuarioActivo.id hidden>
                                        <input type="text" name="idPublicacion" value=@Model.pub.id hidden>
                                        <input type="text" name="monto" placeholder="S/">
                                    </div><!--inpt-field end-->
                                </div>

                                @Html.ValidationMessage("Mensaje")
                                <div class="col-lg-12">

                                    <button type="submit">Confirmar</button>
                                </div>


                            </div>
                        </form>

                    </div>
                </div><!--add-billing-method end-->
                <a href="#" title=""><i class="la la-times-circle-o"></i></a>
            </div><!--post-project end-->
        </div><!--post-project-popup end-->
        @*popup donar end*@


        <div class="post-popup job_post">
            <div class="post-project">
                <h3>Postular</h3>
                <div class="post-project-fields">
                    <form method="post" action="/Publicacion/Postular" >
                        <div class="row">

                            <input type="text" name="idUsuario" value=@Model.UsuarioActivo.id hidden />
                            <input type="text" name="idPublicacion" value=@Model.pub.id hidden />
                            <input type="text" name="cantidadPostulaciones" value=@Model.pub.postulaciones.Count hidden />



                            <div class="col-lg-6">
                                <div class="price-br">
                                    <input type="text" name="monto" placeholder="Monto postulacion">
                                    <i class="la la-dollar"></i>
                                </div>
                            </div>
                            <span class="text-danger">@Html.ValidationMessage("monto")</span>
                            <div class="col-lg-6">
                                <input type="number" name="diasRealizacion" placeholder="Dias Realizacion">
                            </div>
                            <span class="text-danger">@Html.ValidationMessage("diasRealizacion")</span>
                            <div class="col-lg-12">
                                <textarea name="descripcion" placeholder="Descripcion"></textarea>
                            </div>
                            <span class="text-danger">@Html.ValidationMessage("descripcion")</span>
                            <div class="col-lg-12">
                                <ul>
                                    <li><button class="active" type="submit" value="post">Enviar</button></li>
                                    <li><a href="#" title="">Cancelar</a></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div><!--post-project-fields end-->
                <a href="#" title=""><i class="la la-times-circle-o"></i></a>
            </div><!--post-project end-->
        </div><!--post-project-popup end-->









    </div><!--theme-layout end-->

    <script type="text/javascript" src="~/SourcesTUMI/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/SourcesTUMI/js/popper.js"></script>
    <script type="text/javascript" src="~/SourcesTUMI/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/SourcesTUMI/js/jquery.mCustomScrollbar.js"></script>
    <script type="text/javascript" src="~/SourcesTUMI/lib/slick/slick.min.js"></script>
    <script type="text/javascript" src="~/SourcesTUMI/js/script.js"></script>



    <!--source2-->

    <script src="~/SourcesTUMI/Sources2/js/main.js"></script>

    @*<script src="~/SourcesTUMI/js/GaleriaImagenes.js"></script>*@
    <!--ME js-->
    <script src="~/SourcesTUMI/js/M_TUMI.js"></script>
</body>
</html>
