﻿
@{
    Layout = null;
}

<div  class="post-comment-box" id="fReply-@ViewBag.idComent">

        <div class="user-poster">
            <div class="usr-post-img" style="margin-right: 0px;margin-left: 7px;">
                <img src=@Model.foto style="height:26px !important;width:26px !important;" alt="">
            </div>
            <div id="replyComentForm" class="post_comment_sec" style="width: 86%;">
                <form id="formReply-@ViewBag.idComent" method="post" action="/Publicacion/SendReply">
                    <input type="text" id="replyComent-@ViewBag.idComent" name="idComentario" value=@ViewBag.idComent hidden />
                    <input type="text" id="replyUsuario-@ViewBag.idComent" name="idUsuario" value=@Model.id hidden />
                    <textarea name="contenido" id="replyContent-@ViewBag.idComent" placeholder="Respuesta"></textarea>
                    <button class="sendReply" id="sendReply-@ViewBag.idComent" value=@ViewBag.idComent type="submit">Enviar</button>
                    <button class="cancelReply" id="cancelReply-@ViewBag.idComent" value=@ViewBag.idComent type="submit" style="margin-left: 15px;">Cancelar</button>
                </form>
            </div>
        </div>
    </div>