@charset "UTF-8";

/*------------- #POSTS --------------*/
.post {
    position: relative;
    padding: 25px;
    border-bottom: 1px solid #e6ecf5;
}

    .post p {
        margin: 25px 0;
    }

    .post .control-block-button {
        top: 20px;
        right: -17px;
    }

    .post.thumb-full-width .post-thumb {
        border-radius: 0;
        margin: 0 -25px 25px;
    }

    .post .btn {
        margin-bottom: 25px;
    }

    .post h1, .post h2, .post h3, .post h4, .post h5, .post h6, .post .h1, .post .h2, .post .h3, .post .h4, .post .h5, .post .h6 {
        display: inline-block;
    }

        .post h1 + p, .post h2 + p, .post h3 + p, .post h4 + p, .post h5 + p, .post h6 + p, .post .h1 + p, .post .h2 + p, .post .h3 + p, .post .h4 + p, .post .h5 + p, .post .h6 + p {
            margin-top: 10px;
        }

    .post .post__author-name {
        font-weight: 700;
        margin-bottom: 0;
    }

    .post .more-photos span {
        font-weight: 700;
    }

    .post.shared-photo .post-thumb {
        border: 1px solid #e6ecf5;
        margin-bottom: 0;
    }

    .post .author-date a {
        font-weight: 700;
    }

.post-block-photo {
    margin-bottom: 20px;
    overflow: hidden;
}

    .post-block-photo a, .post-block-photo span {
        float: left;
        overflow: hidden;
        padding: 0 8px 8px 0;
    }

        .post-block-photo a img, .post-block-photo span img {
            border-radius: 3px;
            width: 100%;
            display: block;
        }

.more-photos {
    position: relative;
}

    .more-photos:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 8px;
        bottom: 8px;
        background-color: #ff5e3a;
        opacity: .8;
        border-radius: 3px;
    }

    .more-photos span {
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 5;
        font-weight: 700;
        margin-left: -8px;
    }

.post-thumb {
    border-radius: 5px;
    margin-bottom: 25px;
    overflow: hidden;
    position: relative;
}

    .post-thumb img {
        width: 100%;
        display: block;
    }

.post__author {
    margin-bottom: 20px;
}

    .post__author img {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        overflow: hidden;
        margin-right: 12px;
    }

    .post__author .more {
        float: right;
        font-size: 16px;
        margin-right: 20px;
    }

.post-additional-info {
    padding: 20px 0 0;
    border-top: 1px solid #e6ecf5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

    .post-additional-info > * {
        margin-right: 15px;
    }

        .post-additional-info > *:last-child {
            margin-right: 0;
            margin-left: auto;
        }

.comments-shared > * {
    margin-right: 15px;
}

    .comments-shared > *:last-child {
        margin-right: 0;
    }

.comments-shared span {
    color: #888da8;
}

.post-add-icon {
    fill: #c2c5d9;
    color: #c2c5d9;
}

    .post-add-icon > * {
        vertical-align: middle;
        transition: all .15s ease;
    }

    .post-add-icon svg, .post-add-icon img {
        margin-right: 8px;
        width: 20px;
        height: 18px;
    }

    .post-add-icon .olymp-speech-balloon-icon {
        width: 22px;
        height: 20px;
    }

    .post-add-icon .olymp-share-icon {
        width: 26px;
        height: 21px;
    }

    .post-add-icon:hover {
        fill: #ff5e3a;
        color: #ff5e3a;
    }

        .post-add-icon:hover span {
            color: #ff5e3a;
        }

    .post-add-icon:active, .post-add-icon:focus {
        fill: #c2c5d9;
        color: #c2c5d9;
    }

.names-people-likes {
    font-size: 12px;
}

    .names-people-likes a {
        color: #515365;
        font-weight: 700;
    }

.post-control-button .btn-control {
    display: block;
    margin-bottom: 6px;
    margin-right: 0;
    background-color: #9a9fbf;
    width: 34px;
    height: 34px;
    line-height: 36px;
}

    .post-control-button .btn-control.bg-facebook {
        background-color: #2f5b9d;
    }

        .post-control-button .btn-control.bg-facebook:hover {
            background-color: #2f5b9d;
        }

    .post-control-button .btn-control.bg-twitter {
        background-color: #38bff1;
    }

        .post-control-button .btn-control.bg-twitter:hover {
            background-color: #38bff1;
        }

    .post-control-button .btn-control svg {
        width: 18px;
        height: 18px;
    }

    .post-control-button .btn-control .olymp-share-icon {
        width: 24px;
    }

    .post-control-button .btn-control:hover {
        background-color: #ff5e3a;
    }

    .post-control-button .btn-control.featured-post:hover {
        background-color: #ffc923;
    }

    .post-control-button .btn-control.has-i svg, .post-control-button .btn-control.has-i i {
        font-size: 15px;
        width: 15px;
        height: 15px;
    }

.empty-post {
    height: 600px;
    background-color: #dce1eb;
    opacity: .5;
}

.empty-post-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

    .empty-post-content .title {
        font-size: 16px;
        font-weight: 700;
        color: #515365;
    }

    .empty-post-content span {
        font-size: 11px;
    }

/*================= Responsive Mode ============*/
@media (max-width: 768px) {
    .post-control-button .btn-control {
        display: inline-block;
    }

    .post .control-block-button {
        right: 20px;
        top: -13px;
    }

    .post__author .more {
        margin-right: -16px;
    }

    .post-control-button .btn-control svg {
        width: 14px;
        height: 14px;
    }

    .post-control-button .btn-control {
        line-height: 32px;
    }

        .post-control-button .btn-control.has-i {
            line-height: 36px;
        }

    .post__author {
        margin-bottom: 5px;
    }
}

@media (max-width: 480px) {
    .post-additional-info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

        .post-additional-info > * {
            margin-right: 0;
        }

            .post-additional-info > * + * {
                margin-top: 10px;
            }

            .post-additional-info > *:last-child {
                margin-left: 0;
            }
}

/*------------- #COMMENTS-LIST --------------*/
.comments-list {
    margin-bottom: 0;
}

    .comments-list .comment-item {
        padding: 25px;
        border-bottom: 1px solid #e6ecf5;
        background-color: #fafbfd;
        position: relative;
    }

        .comments-list .comment-item.has-children {
            padding-bottom: 0;
        }

    .comments-list .post-add-icon {
        margin-right: 20px;
    }

    .comments-list .post__author img {
        width: 26px;
        height: 26px;
    }

    .comments-list.style-2 .comment-item .post__author img {
        float: left;
    }

    .comments-list.style-2 .reply {
        margin-right: 20px;
    }

    .comments-list.style-2 .post__date {
        display: inline-block;
        margin-right: 20px;
    }

    .comments-list.style-2 .author-date {
        overflow: hidden;
    }

    .comments-list.style-2 .post__author .more {
        float: none;
    }

    .comments-list.style-2 .post__author {
        margin-bottom: 0;
    }

    .comments-list.style-3 .comment-item {
        background-color: transparent;
    }

    .comments-list.style-3 .reply {
        margin-right: 20px;
        color: #ff5e3a;
    }

    .comments-list.style-3 .post__author-thumb {
        margin-right: 20px;
        float: left;
    }

        .comments-list.style-3 .post__author-thumb img {
            width: 56px;
            height: 56px;
            border-radius: 100%;
            display: block;
        }

    .comments-list.style-3 .comments-content {
        overflow: hidden;
    }

    .comments-list.style-3 .children .comment-item {
        border-left: none;
    }

        .comments-list.style-3 .children .comment-item:before {
            display: none;
        }

.children {
    border-top: 1px solid #e6ecf5;
    margin: 25px -25px 0;
    padding-left: 35px;
}

    .children .comment-item {
        border-left: 1px solid #e6ecf5;
    }

        .children .comment-item:last-child {
            border-bottom: none;
        }

        .children .comment-item:before {
            content: "";
            position: absolute;
            width: 9px;
            height: 9px;
            top: 40px;
            left: -5px;
            background-color: #fafbfd;
            border-radius: 100%;
            border: 2px solid #c2c5d9;
            z-index: 13;
        }

    .children.single-children {
        border-top: 0;
        margin: -3px 0 25px;
        padding-left: 0;
    }

        .children.single-children .comment-item {
            padding: 25px;
            position: relative;
        }

            .children.single-children .comment-item:last-child {
                padding-bottom: 0;
            }

.reply {
    font-size: 12px;
    color: #888da8;
}

.report {
    font-size: 12px;
    color: #888da8;
}

.more-comments {
    text-align: center;
    padding: 15px 0;
    font-size: 12px;
    color: #515365;
    display: block;
    font-weight: 700;
    margin: 0 auto;
}

    .more-comments span {
        transition: all .3s ease;
    }

    .more-comments:hover {
        color: #515365;
    }

        .more-comments:hover span {
            color: #ff5e3a;
        }

.comment-form {
    padding: 25px;
    border-top: 1px solid #e6ecf5;
    overflow: hidden;
}

    .comment-form .add-options-message {
        position: absolute;
        right: 20px;
        bottom: 15px;
        width: auto;
        padding: 0;
    }

    .comment-form .post__author {
        margin-bottom: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

        .comment-form .post__author img {
            margin-right: 10px;
            min-width: 28px;
            max-width: 28px;
            height: 28px;
            display: block;
        }

    .comment-form .form-group {
        margin-bottom: 0;
        width: 100%;
        margin-left: auto;
    }

    .comment-form textarea {
        min-height: 60px;
        height: 60px;
        transition: all .3s ease;
    }

        .comment-form textarea:focus {
            min-height: 100px;
        }

    .comment-form button {
        float: right;
        margin-bottom: 0;
        margin-top: 15px;
    }

        .comment-form button + button {
            margin-right: 15px;
        }

/*================= Responsive Mode ============*/
@media (max-width: 768px) {
    .comments-list .comment-item {
        padding: 10px;
    }

    .children {
        margin-right: -10px;
    }

    .comments-list .comment-item .post__author .more {
        margin-right: 0;
    }

    .comments-list.style-3 .post__author-thumb img {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 480px) {
    .comment-form .form-group {
        width: 80%;
    }
}

/*------------- #POST-VIDEO --------------*/
.post-video {
    border: 1px solid #e6ecf5;
    border-radius: 3px;
    overflow: hidden;
    margin: 20px 0;
}

    .post-video .video-content {
        padding: 20px;
        overflow: hidden;
    }

        .post-video .video-content .title {
            display: block;
        }

        .post-video .video-content p {
            margin: 10px 0;
            font-size: 13px;
        }

        .post-video .video-content .link-site {
            font-size: 10px;
            color: #9a9fbf;
        }

            .post-video .video-content .link-site:hover {
                color: #ff5e3a;
            }

.video-thumb {
    position: relative;
    float: left;
}

    .video-thumb img {
        display: block;
        width: 100%;
    }

/*------------- Responsive mode styles --------------*/
@media (max-width: 480px) {
    .video-thumb {
        float: none;
    }
}

/*------------- #VIDEO-PLAYER --------------*/
.video-player {
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    margin: 20px 0;
}

    .video-player img {
        width: 100%;
        display: block;
    }

    .video-player .video-content {
        position: absolute;
        bottom: 25px;
        left: 25px;
        color: #fff;
        z-index: 5;
        opacity: 0;
        transition: all .3s ease;
        padding: 0;
    }

        .video-player .video-content .title {
            color: #fff;
            display: block;
        }

    .video-player .play-video {
        opacity: 0;
    }

    .video-player:hover .video-content {
        opacity: 1;
    }

    .video-player:hover .play-video {
        opacity: 1;
    }

    .video-player:hover .overlay {
        opacity: 1;
    }

    .video-player:hover:after {
        opacity: 1;
    }

    .video-player:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: inset 0px -120px 55px -30px rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: all .3s ease;
    }

/*------------- Responsive mode styles --------------*/
@media (max-width: 480px) {
    .video-player .video-content .title {
        display: none;
    }
}


.half-width {
    width: 50%;
}

.col-3-width {
    width: 33.33%;
}

.col-4-width {
    width: 25%;
}




































/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }

.mfp-preloader a {
  color: #CCC; }

.mfp-preloader a:hover {
  color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }

.mfp-close:hover,
.mfp-close:focus {
  opacity: 1; }

.mfp-close:active {
  top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }

.mfp-arrow:active {
  margin-top: -54px; }

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1; }

.mfp-arrow:before,
.mfp-arrow:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent; }

.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px; }

.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }

.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px; }

.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }

.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px; }

.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }

.mfp-iframe-holder .mfp-close {
  top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 0 0;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444; }

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px; }

.mfp-figure figure {
  margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
  opacity: 0;
  transition: all 0.15s ease-out; }

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8; }

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0; }

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transition: all 0.15s ease-out; }

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1; }

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0; }

/*

====== Zoom effect ======

*/
.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */ }

.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
          transform: scale(0.8); }

.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out; }

.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1); }

.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8; }

.mfp-zoom-in.mfp-removing .mfp-with-anim {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0; }

.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0; }

/* This adds padding from top and bottom */
.inline--media-content .mfp-container {
  padding-top: 40px;
  padding-bottom: 40px; }

/* This adds max-width to popup content */
.inline--media-content .mfp-content {
  width: 100%;
  max-width: 1200px; }

/* This makes "#popup-with-something" scale down proportionally */
